@font-face {
      font-family: Figtree;
      src: url(assets/fonts/Figtree-VariableFont_wght.ttf);
    }
    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }  /* 2. Remove default margin */
    * {
      margin: 0;
    }

    /* 3. Enable keyword animations */
    /* @media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
} */

    body {
      /* 4. Add accessible line-height */
      /* 5. Improve text rendering */
      -webkit-font-smoothing: antialiased;
    }

    /* 6. Improve media defaults */
    img,
    picture,
    video,
    canvas,
    svg {
      display: block;
      max-width: 100%;
    }

    /* 7. Inherit fonts for form controls */
    input,
    button,
    textarea,
    select {
      font: inherit;
    }

    /* 8. Avoid text overflows */
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      overflow-wrap: break-word;
    }

    /* 9. Improve line wrapping */
    p {
      text-wrap: pretty;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      text-wrap: balance;
    }

    /*
  10. Create a root stacking context
*/
    #root,
    #__next {
      isolation: isolate;
    }

    /* Default stillər - kiçik ekranlar üçün (media query-siz) */
    .text1 {
      color: var(--gray-950);
      font-size: .32rem;
      font-weight: 900;
      line-height: 150%;
      letter-spacing: 0;
    }

    .text2 {
      color: var(--gray-500);
      font-size: .213333rem;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: 0;
      padding-block: .16rem;
    }

    .text3 {
      color: var(--gray-950);
      font-size: .186667rem;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: 0;
      padding-block: .16rem;
    }

    .text4 {
      padding: .08rem .16rem;
      color: var(--gray-950);
      font-size: .186667rem;
      font-weight: 900;
      line-height: 150%;
      letter-spacing: 0;
      background-color: var(--yellow);
      border-radius: .053333rem;
      display: inline;
    }

    .Autor {
      font-size: .186667rem;
      font-weight: bold;
      line-height: 150%;
      display: flex;
      align-items: center;
      padding-block: .16rem;
    }

    .text1:hover,
    .text2:hover,
    .text3:hover {
      color: var(--yellow);
      cursor: pointer;
    }
    
    @media screen and (max-width: 768px) {
      .Container {
        width: 327px;
        height: 501px;
      }

      .image1 {
        width: 279px;
      }

      .text1 {
        font-size: .266667rem;
      }

      .text2 {
        font-size: .186667rem;
      }

      .text3 {
        font-size: .16rem;
      }

      .text4 {
        font-size: .16rem;
      }
    }

    :root {
      /* --Colors-- */
      --yellow: #F4D04E;
      --gray-950: #111111;
      --gray-500: #6B6B6B;
      --white: #FFFFFF;

      /* -- Spacing -- */
      --sp300: .32rem;
      --sp150: .16rem;
      --sp100: .106667rem;
      --sp50: .053333rem;
    }

    body {
      background-color: var(--yellow);
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .Container {
      width: 384px;
      height: 521px;
      border: 1px solid var(--gray-950);
      border-radius: .266667rem;
      box-shadow: .133333rem .133333rem var(--gray-950);
      font-family: Figtree, system-ui;
      background-color: var(--white);
    }

    .image1 {
      border-radius: .133333rem;
      margin: .32rem;
      object-fit: cover;
      height: 200px;
    }

    .image2 {
      margin-inline: .32rem .16rem;
      width: 32px;
    }

    .Content {
      margin-inline: .32rem;
    }